
 :root {
    --main-color: #80D8DA;
    --second-color: #ffaaa5;
    --third-color: #fff;
    --forth-color: 
    --box-shadow: box-shadow: 5px 5px 5px #ffb5b5;
}
body {
    background: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.border {
    border: none !important;
    max-width: 1200px;
    margin: 30px auto;
    padding: 40px;
}

#navigation {
    margin-top: 40px;
}

.name-logo {
background-color: #80D8DA;
font-family: 'Playfair Display', serif;
border-radius: 15px 50px;
padding: 15px;
}

.active {
    color:var(--main-color) !important;
}

.active:hover{
    color: var(--main-color) !important;
}

#header .nav-link {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 25px;
    transition: all 100ms ease-in-out;
}

.nav-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.connection-link {
    display: flex;
    flex-direction: column;
    margin: 4px;
    border-radius: 15px 50px;
    padding: 15px;
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.connection-link:hover {
    background-color: #ECEFF6;
    border: 1px solid #80D8DA;
    transition: all 200ms ease-in-out;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

a:link {
    color: black;
    font-weight: 'Poppins', sans-serif;
    font-weight: normal;
}

a:visited {
    color: black;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

h1 {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: var(--second-color);
}

h2 {
    font-size: 38px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

h3 {
    font-family: 'Playfair Display', serif;
    color: var(--second-color);
}

h4{
    font-family: 'Playfair Display', serif;
    color: var(--second-color);
}

h5 {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.yahoo-icon {
    color: var(--main-color);
    font-size: 30px;
}

.email-link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.email-link:hover {
    cursor: pointer;
}

.instagram-icon {
    color: var(--main-color);
    font-size: 30px;
}

.instagram-link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.instagram-link:hover {
    cursor: pointer;
}

.linkedin-icon {
    color: var(--main-color);
    font-size: 30px;
}

.linkedin-link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.linkedin-link:hover {
    cursor: pointer;
}

.github-icon {
    color: var(--main-color);
    font-size: 30px;
}

.github-link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.github-link:hover {
    cursor: pointer;
}
.button-link {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: var(--second-color);
}
.paragraphs {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}
.primary {
    margin: 4px;
    border-radius: 15px 50px;
    padding: 15px;
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.primary:hover {
    background-color: #ECEFF6;
    border: 1px solid #80D8DA;
    transition: all 200ms ease-in-out;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.icons {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    background-size: 100% 100%;
}

.source-code {
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 15px 50px;
    padding: 15px;
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    max-width: 400px;
    margin: 30px auto;
}

.source-code:hover {
    background-color: #ECEFF6;
    border: 1px solid #80D8DA;
    transition: all 200ms ease-in-out;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
#contact {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-decoration: none;
    display: block;
    text-align: center;
}
.technology small {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-align: center !important;
    margin: 0 auto !important;
    font-size: 10px;
 }
 @media (min-width: 576px) {
     .technology .responsive {
         text-align: left !important;
     }
    }
    @media (min-width: 767.98px) {
        .smile {
            margin-top: 80px;
        }
    }
 .technology .row{
   display: flex;
   justify-content: space-evenly;
   gap: 10px 20px;
 }
 .technology .block {
   display: block;
 }
 .technology .rotating {
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 }
  .technology .rounded {
   border-radius: 1px !important;
 }
 .technology .pl-3 {
   padding-left: 1px !important;
 }
 .technology .pr-3 {
   padding-right: 1px !important;
 }
 .technology .mb-3 {
   margin-bottom: 0.5px !important;
 }
 .technology .img-fluid {
   max-width: 100%;
   height: auto;
 }
 .technology img {
   vertical-align: middle;
   border-style: none; 
 }
 .technology .center {
   text-align: center !important;
   margin: 0 auto;
   display: block;
 }
 .technology .col-sm-1 {
   flex: 0 0 25%;
   max-width: 10%;
 }